body {
  font-family:'Times New Roman', Times, serif;
  background: #f4f6f8;
  text-align: center;
}

h1{
    color: #1f662a;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  background: rgb(33, 109, 66);
  padding: 20px;
  border-radius: 30px;
}

input {
  padding: 15px;
  width: 80%;
  border-radius: 30px;
  border: 1px solid #7fb4f4;
  font-size: larger;
}

button {
  padding: 15px;
  cursor: pointer;
  border-radius: 30px;
  width: 100px;
  background: rgb(25, 25, 119);
  font-size: large;
  border: none;
  color: white;
}
button:hover {
  background: rgb(6, 6, 67);
  color: white;
}

.result {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
.audio {
  margin-top: 20px;
}





